<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define pruebasConsola_TargetDir=$(var.pruebasConsola.TargetDir)?>
	<Product Id="b5d3f174-c677-4f55-8509-483e3a2f7ca0" Name="SetupPrueba" Language="1033" Version="1.0.0.0" Manufacturer="Getronics" UpgradeCode="5ff6659c-f305-43fe-a538-5eec5f51e20d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SetupPrueba" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupPrueba" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="pruebasConsola.exe" Guid="beaf81c9-d2d7-4981-9a77-4bf6f88df343">
			  <File Id="pruebasConsola.exe" Name="pruebasConsola.exe" Source="$(var.pruebasConsola_TargetDir)pruebasConsola.exe" />
			</Component>
			<Component Id="pruebasConsola.exe.config" Guid="c25c7a29-0d25-4c60-be29-202224c121f0">
			  <File Id="pruebasConsola.exe.config" Name="pruebasConsola.exe.config" Source="$(var.pruebasConsola_TargetDir)pruebasConsola.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
